{# Zentinel global configuration block
   Written by FSN on initial file creation only.
   After creation, this section is NOT managed by the deployer
   and may be modified by the Control-Plane or operator.
#}
{
    admin off
    auto_https on

{% if acme_email %}
    email {{ acme_email }}
{% endif %}
}
